body {
    margin-top: 0px;
    margin-left: 0px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 10px;
    margin-bottom: 5px;

    width: 100vw;
    height: 60px;
    box-sizing: border-box;

    border-bottom-style: solid;
    border-bottom-width: 1px;

    
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    margin-left: 10px;
}

header img {
    margin-left: 10px;

    width: 45px;
    height: 45px;
}

header button {
    padding: 10px;

    position: absolute;
    right: 20px;

    background-color: blueviolet;

    border-style: none;
    border-radius: 25px;

    filter: drop-shadow(8px 5px 10px black);

    color: whitesmoke;
}

header button:hover {
    background-color: indigo;
    
    color: burlywood;
}

main {  
    margin-left: 8px;

    height: 78vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea {
    padding: 15px;
    margin: 10px;

    font-size: 200%;

    border-radius: 25px;

    resize: none;
    width: 70%;
}

footer {
    text-align: center;
}

footer a{
    color: cadetblue;
}