#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about img {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  filter: drop-shadow(25px 10px 4px #000);
}
#about img:hover {
  animation: scaleInLess 1s infinite alternate, hueRotate 4s infinite;
}
#about h1,
#about h2 {
  margin: 5px;
}
#about p {
  width: 100%;
  max-width: 75vw;
  margin-top: 25px;
  padding: 15px;
  border-top: solid;
  border-radius: 2px;
  font-size: 25px;
}
#about a:hover {
  font-size: 110%;
  animation: scaleInLess 1s infinite alternate, hueRotate 4s infinite;
}
