@-moz-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInFromTop {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideInFromTop {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes slideInFromTop {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInFromBottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInFromBottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slideInFromBottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
@-webkit-keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
@-o-keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
@-moz-keyframes scaleInLess {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@-webkit-keyframes scaleInLess {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@-o-keyframes scaleInLess {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes scaleInLess {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@-moz-keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@-webkit-keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@-o-keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
