* {
  box-sizing: border-box;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #000;
  overflow-x: hidden;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  background-color: var(--primary-color);
}
main >div {
  padding: 25px;
  width: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-primary-color);
  transition: font-size 0.5s ease-in;
}
a:hover {
  color: var(--link-secondary-color);
}
.blue {
  --nav-primary-color: #02111b;
  --nav-secondary-color: #005a8a;
  --primary-color: #091721;
  --secondary-color: #0d1b25;
  --link-primary-color: #006494;
  --link-secondary-color: #369aca;
  --text-color: #fff;
  --img-invert: 0%;
  --grayscale: 1;
}
.black {
  --primary-color: #010101;
  --secondary-color: #070707;
  --nav-primary-color: #0a0a0a;
  --nav-secondary-color: #0f0f0f;
  --link-primary-color: #554640;
  --link-secondary-color: #504b3a;
  --text-color: #fff;
  --img-invert: 0%;
  --grayscale: 1;
}
.white {
  --primary-color: #f1f1f1;
  --secondary-color: #f7f7f7;
  --nav-primary-color: #fafafa;
  --nav-secondary-color: #fff;
  --link-primary-color: #554640;
  --link-secondary-color: #504b3a;
  --text-color: #000;
  --img-invert: 100%;
  --grayscale: 1;
}
.pink {
  --primary-color: #f1f1f1;
  --secondary-color: #f7f7f7;
  --nav-primary-color: #ffc0cb;
  --nav-secondary-color: #ffe2fd;
  --img-invert: 100%;
  --link-primary-color: #efd5ef;
  --link-secondary-color: #ffc0cb;
  --text-color: #fbbcc7;
  --img-invert: 75%;
  --grayscale: 0.5;
}
