* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Dosis', sans-serif;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 25%;
	animation: 1s ease-out 0s 1 slideInFromTop;
}

.header .logo {
	margin-top: 25px;
	width: 150px;
	border-radius: 100px;

	box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);
}

.about {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding-left: 50px;
	padding-bottom: 50px;

	min-height: 35%;
}

.about .bio {
	font-size: 30px;
	min-width: 65%;
	max-width: 70%;

	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.about .bio p {
	margin: 25px;
}

.links {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	padding: 25px;

	animation: 1s ease-out 0s 1 slideInFromRight;
}

.links .link {
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 25px;

	margin: 10px;
}

.links .link .link-image {
	width: 64px;
	height: 64px;
}

.links .link .link-site {
	margin-left: 40px;
}

.projects {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	
	padding: 25px;
}

.projects .project {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 10px;
	padding: 15px;
	min-width: 25%;
	max-width: 30%;

	border-width: 2px;
	border-style: solid;
	border-radius: 25px;
	border-color: #bdc3c7;
	
	background-color: #ecf0f1;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	
	transition: height 1s;

	overflow: hidden;

	animation: 1s ease-out 0s 1 slideInFromBottom;
}

.projects .project:hover {
	background-color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.projects .project .project-main-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.projects .project .project-main-info h2 {
	margin-left: 10px;
}

.projects .project .project-main-info .project-image {
	width: 75px;
	height: 75px;

	border-radius: 100px;
}

.projects .project .project-info {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 0px;
	max-height: 275px;

	transition: height 2s;
}

.projects .project:hover .project-info {
	margin-top: 25px;

	border-top-style: solid;
    border-color: #bdc3c7;

	height: 275px;
}

.projects .project .project-info .project-info-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.projects .project .project-info .project-button {
	margin: 10px;
}
