#links
    text-align center

    ul
        padding 0

        display flex
        flex-direction row
        justify-content space-between
        align-items center
        flex-wrap wrap

        list-style none
        
        .link
            margin 25px

            width 150px
            height 150px

            border-radius 25px

            background-color var(--secondary-color)

            img 
                padding 10px

                width auto
                height 100px

                filter grayscale(var(--grayscale)) invert(var(--img-invert))

            a
                padding 10px

                display flex
                flex-direction column
                justify-content space-between
                align-items center
                flex-wrap wrap

                width 100%
                height 100%

                color var(--text-color)

                span:last-child
                    margin auto

        .link:hover
            background-color var(--nav-primary-color)

            a
                color var(--link-primary-color)
                animation scaleInLess 1s infinite alternate, hueRotate 4s infinite