*
    box-sizing border-box

    margin 0px

html 
    scroll-behavior smooth

body
    font-family 'Ubuntu', sans-serif   

    background-color var(--primary-color)

    overflow hidden

main
    display flex
    flex-direction column
    align-items center

    height 100vh

    >div    
        padding 25px
        width 100%

    color var(--text-color)

    background-color var(--primary-color)

    overflow-y scroll

a
    cursor pointer
    text-decoration none
    color var(--link-primary-color)
    transition font-size .5s ease-in

a:hover
    color var(--link-secondary-color)

::-webkit-scrollbar 
    width: 10px;

::-webkit-scrollbar-track 
    background: #00000000;

::-webkit-scrollbar-thumb 
    background: var(--link-primary-color);

    border-radius 25px

::-webkit-scrollbar-thumb:hover 
    background: var(--link-secondary-color);