*
    box-sizing border-box

    margin 0px

html 
    scroll-behavior smooth

body
    font-family 'Ubuntu', sans-serif   

    background-color #000

    overflow-x hidden

main
    display flex
    flex-direction column
    align-items center

    >div    
        padding 25px
        width 100%

    color var(--text-color)

    background-color var(--primary-color)

a
    cursor pointer
    text-decoration none
    color var(--link-primary-color)
    transition font-size .5s ease-in

a:hover
    color var(--link-secondary-color)

.blue
    --nav-primary-color  #02111B
    --nav-secondary-color #005A8A

    --primary-color #091721
    --secondary-color #0D1B25

    --link-primary-color #006494
    --link-secondary-color #369ACA

    --text-color #fff

    --img-invert 0%
    --grayscale 1

.black
    --primary-color #010101
    --secondary-color #070707

    --nav-primary-color  #0a0a0a
    --nav-secondary-color #0f0f0f

    --link-primary-color  #554640
    --link-secondary-color #504B3A

    --text-color #fff

    --img-invert 0%
    --grayscale 1

.white
    --primary-color #F1F1F1
    --secondary-color #F7F7F7

    --nav-primary-color  #FaFaFa
    --nav-secondary-color #FfFfFf

    --link-primary-color  #554640
    --link-secondary-color #504B3A

    --text-color #000

    --img-invert 100%
    --grayscale 1

.pink
    --primary-color #F1F1F1
    --secondary-color #F7F7F7

    --nav-primary-color  #FFC0CB
    --nav-secondary-color #FFE2FD

    --img-invert 100%

    --link-primary-color  #EFD5EF
    --link-secondary-color #FFC0CB

    --text-color #FBBCC7

    --img-invert 75%
    --grayscale .5