link(rel="stylesheet" href="./css/about.css")

#about
    img(src="./images/icon.svg")
    h1 Sheinxy
    h2 Doing things differently since 2002
    p. 
        Born and raised in France, I have been fascinated by computers for my whole life;
        Hence, it was only a matter of time before I started coding.</br>
        Passionate about new technologies, always willing to learn new things and challenge myself.</br>
        I am currently studying computer science at the <a href="https://epita.fr">Epita</a>