@keyframes wave {
    0% {
        width: calc(100% + 1.3px);
        height: 30px;
    }
    100% {
        width: calc(150% + 1.3px);
        height: 122px;
    }
}

@keyframes grow-title {
    0% {
        font-size: 250%;
    }
    100% {
        font-size: 300%;
    }
}

@keyframes come-from-left {
    0% {
        left: -100000px
    }
}

@keyframes come-from-right {
    0% {
        left: 100000px
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}